<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Main CSS
    <link rel="stylesheet" href="css/styles.css" > -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" >
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="css/bootstrap-icons.css">
    
     <!-- FontAwesome Icons 
     <link rel="stylesheet" href="css/fontawesome.css">-->
    
    <title> Template V 2.0.0</title>
    <link rel="icon" type="image/x-icon" href="img/fav.png">
  </head>
  <body>
    <!-- Header Sample -->
    {{> header}}
    <div class="wrap-body container">
     
      {{> body}}
    </div>
    <!-- Footer Sample -->
    {{> footer}}
    
        <!-- Offline Make user laest popper and bootsrap is installed use npm install bootstrap@latest -->
        <!-- Popper 
        <script src="js/popper.min.js"></script>-->
        <!-- bootstrap
        <script src="js/bootstrap.min.js"></script>  -->
        <!-- Fontawersome Free JS 
        <script src="js/all.min.js"></script>-->
  </body>
</html>