/* ============================
  Bulma 
  https://bulma.io/
============================ */ 

/* Import All Bulmas */

//@import "node_modules/bulma/bulma";

/* ============================
  Bulma Custom
  https://bulma.io/documentation/
============================ */ 

// REMOVE if you don't need it!

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: $purple,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");


/* ============================
  Bulma Custom Modular Sass
  https://bulma.io/documentation/customize/with-modular-sass/
============================ */ 
