<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Main CSS-->
    <link rel="stylesheet" href="css/styles.css" >
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/inc/bootstrap.css" >
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="css/inc/bulma.css" >
    
    <title> Template V 0.0.1 </title>
  </head>
  <body>
  {{> header}}
  {{> body}}
  {{> footer}}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/inc/jquery.min.js"></script>
  <script src="js/inc/popper.min.js"></script>
  <script src="js/inc/tether.min.js"></script>
  <script src="js/inc/bootstrap.min.js"></script>
  <!-- JS Function -->
  <script src="js/main.js"></script>
  </body>
</html>
